{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="exercise-card-student">
            <h1 class="text-center">Hello, {{ exercise['client_name'] }}!</h1>
            <div class="scrollable">
                <p><strong>Description:</strong> {{ exercise['description'] }}</p>
            </div>
            <p><strong>Due in:</strong>
                {{ due_date }}
                {% if time_to_due == 0 %}
                    Today is the due date!
                {% elif time_to_due == 1 %}
                    {{ time_to_due }} day left.
                {% elif time_to_due > 1 %}
                    {{ time_to_due }} days left.
                {% else %}
                    The due date has passed.
                {% endif %}

            </p>
            <form method="POST">
                <div class="mb-3">
                    <label for="result" class="form-label">Mark as:</label>
                    <select class="form-control" id="result" name="result">
                        <option value="DONE">Done</option>
                        <option value="MISSED">Missed</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-custom w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}